.language{
  top: 25px;
  width: 100px;
  height: 50px;
  align-items: center;
  background-color: white !important;
  font-family: 'Aref Ruqaa', serif;
  font-weight: bold;
}
body{
  background-image: url("https://wallpaperscraft.com/image/wood_lumber_paint_many_94301_1920x1080.jpg");
  background-repeat: round;
}
#contenedor{
  width: 82%;
  top: 4em;
}
.jumbotron{
  background-color: white;
}
#img-profile{
  border-radius: 10px 10px 10px 10px;
  width: 170px;
  height: 170px;

}
#hola-text{
  text-align: center;
  font-family: 'Aref Ruqaa', serif;
}
#text-profile{
  text-align: center;
  font-family: 'Aref Ruqaa', serif;
  font-size: 150%;
}
#line-horizontal{
  border-top: 3px double #8c8b8b;
}
.text-color{
  color: #f0563d;
}
.icons{
  color: rgba(0, 0, 0, 0.2);
}
.second-text{
  color: silver;
}
.progress-bar{
  background-color: #f0563d;
  text-align: left;
  font-size: 110%;
}
.idioms-li{
  padding: 3px;
  font-size: 110%;
}
.ocuped{
  color: #f0563d;
}
.stars{
  text-align: right;
  display: inline;
}
.idioms{
  display: inline;
}
.fa-thumbs-up{
  color: white;
}
@media screen and (max-width:1100px) {
  .timeline-panel{
    width: 75% !important;
    left: -13%;
  }
  table{
    width: 40%;
  }
}
@media screen and (max-width:1000px) {
  body{
    margin-left: 10%;
  }
  .timeline-panel{
    width: 60%;
    left: -18%;
  }
  #hobbies{
    left: -15px !important;
  }
  .hobby{
    display: inline;
  }
  #img-profile{
    width: 30%;
    margin-left: 35%;
  }
  .hobby{
    width: 50%;
  }
}
@media screen and (max-width:800px) {
  .timeline-panel{
    width: 50% !important;
    left: -40%;
  }
  #img-profile{
    width: 40%;
    margin-left: 30%;
  }
}
